.about-box-2 {
  background-color:var(--bg-color-opec);
  padding: 10px 30px 10px;
}

.about-box-image{
  position: relative;
  background-image: url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/6ebb9247-da59-4b0e-eab2-92e7b604fd00/display);
  background-color:var(--bg-color-opec);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.about-box {
  background-color: var(--bg-color-opec);
  position: relative;
  width: 50%;
  padding: 10px 10px 10px;
  top: 40%;
  height: 60%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}


@media (max-width:774px) and (orientation: portrait) { 
	.about-box {
		top: 30%;
		width: 100%;
		height: 70%;
	}
	.about-box-image{
		height: 60vh;
    background-position: top;
    background-size: 100% ;
	}
	
}

@media (max-width:1024px) and (orientation: landscape) { 
	.about-box {
		top: 50%;
		width: 100%;
		height: 50%;
	}
	.about-box-image{
		height: 100vh;
    min-height: 600px;
	}
	
}