/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');
/*variable*/
:root{
  --bg-1: #C7C7C6;
  --bg-2: #8F8E8E;
  --bg-3: #3A3938;
  --bg-4: #1A1918;
  --bg-5: #131211;
  --bg-6: #0F0E0E;
  --bg-7: #070707;
  
  --mc-1: #DFD2FC;
  --mc-2: #BEA5F9;
  --mc-3: #9E77F6;
  --mc-4: #7D4AF3;
  --mc-5: #5E38B6;
  --mc-6: #3E2579;
  --mc-7: #1F123D;
  
  --sc-1: #FCD2EF;
  --sc-2: #F9A5E0;
  --sc-3: #F677D0;
  --sc-4: #F34AC0;
  --sc-5: #B63890;
  --sc-6: #792560;
  --sc-7: #3D1230;


  --text-color:var(--mc-1);
  --text-color-secondary:var(--bg-3);
  --bg-color:var(--bg-4);
  --bg-color-secondary:var(--bg-3);
  --bg-color-opec:#1312118f;   
  --font-family-header:'Arvo', serif;
  --font-family-body: 'Nanum Myeongjo', serif; 
  --h1: 45px;
  --h2: 36px;
  --h3: 24px;
  --p:16px;
  --font-weights-norm: 400;
  --font-weights-bold: 700;
  --arvo-norm: 400;
  --arvo-bold: 700;
  --linear-gradient: linear-gradient(to left, #F34AC0 0%, #7d4af3 41%, #F34A6B 100%);
}

/* --------------------------------
base css set up for all sites
--------------------------------*/

.h1-1 {
  font-size: var(--h1);
  font-family: var(--font-family-header);
  color: var(--text-color);
  font-weight: 300;
  padding: 10px 0;
}

.h2-2 {
  font-size: var(--h2)!important;
  letter-spacing: 1px;
  font-family: var(--font-family-header)!important;
  color:var(--sc-1);
  padding: 10px 0;
}

.h3-3 {
  font-size: var(--h3)!important;
  font-family: var(--font-family-header)!important;
  letter-spacing: 1px ;
  color:var(--text-color);
}

.p-p {
  font-size: var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  letter-spacing: 1px ;
}

.p-c {
  font-size: 12px;
  font-weight: var(--font-weights-norm);
  color: var(--text-color);
  letter-spacing: 1px ;
}


.p-2 {
  font-size:var(--p);
  font-weight: var(--font-weights-norm);
  color: var(--text-color-secondary);
}

@media (max-width: 1024px){ 
  .h1-1 {
    font-size: 35px!important;
    padding: 15px 0px;
  }
}



html {
  scroll-behavior: auto;
}

.bg-set{
  background-color: var(--bg-color);
  z-index: 0;
}

.body-main {
  display: block;
  margin: none;
  padding: none;
  font-family: var(--font-family-body);
  font-display: swap;
  background-color: var(--bg-color);
  height: 100%;

}

@font-face {
  font-family: "MyWebFont";
  src: url(myfont.woff2) format("woff2"),
    url(myfont.woff) format("woff");
  font-display: swap;
}

.section-height {

  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 1000px;
}

.section-wait {
  min-height: 600px;
}
.section-inner {
  position: relative;
  background-color: var(--bg-color);
  height: 30vh;
}

.section-inner-2 {
  position: relative;
  background-color: var(--bg-color);
  height: 15vh;
}

.sub-height{
  position: relative;
  margin: auto;
  margin-top: 45vh!important;
}


@media (max-width:844px) and (orientation: portrait) { 
  .section-height {
    margin-top: 0!important;
    height: auto;
    min-height: 600px;
    max-height: none;
  }
  .sub-height{
    top:0;

  }
}

@media (max-width:1024px) and (orientation: landscape) { 
  .section-height {
    height: auto;
    min-height: 600px;
    max-height: none;
  }
  .sub-height{
    margin-top: 300px!important;
    
  }
  .sub-height img{
    margin-top: -800px!important;
    height: auto;
    width: 100%;
    position: relative;
    object-position: center;
  }
}

.hero-img-success {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/7cdca59f-b127-44d0-256e-1b754839c300/heroObjectLeft);
  background-color: var(--bg-color);
  height: 90vh;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-box-success {
  position: relative;
  padding: 10px 60px 10px;
  color: var(--text-color);
  background-color: #3a39388e;
}




.ham{
  color:36px!important;
}

.icon-color{
  color:var(--mc-3);
  transition: color 0.5s ease-in-out;
}

.icon-color:hover {
  color:var(--mc-4)
}

/* --------------------------------
Hero section | Index - About
--------------------------------*/
.display-off {
  display: none;
}
.hero-img {
  overflow: hidden;
  position: relative;
}

.hero-img-book {
  background-image:url(https://imagedelivery.net/4_y5kVkw2ENjgzV454LjcQ/5e4031fb-98ff-4279-a120-3c0e66779e00/display);
  background-color: var(--bg-color);
  min-height: 100vh;
  background-position:right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.hero-box {
  background-color: var(--bg-color-opec);
  position: relative;
  width: 50%;
  padding: 10px 30px 10px;
  height: 100%;
  color: var(--text-color);
  backdrop-filter: blur(10px);
}


@media (max-width:820px) and (orientation: portrait) { 
  .hero-img-book {

    background-position: top center;
    background-size: cover;
  }
  .hero-box-success{
    padding: 10px 5px 10px;
  }
  .hero-box {
    width: 100%;
  }   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}

@media (max-width:1024px) and (orientation: landscape) { 
  .hero-img-book {

    background-position: top center;
    background-size: cover;
  }
  .hero-box-success{
    padding: 10px 5px 10px;
  }
  .hero-box {
    width: 50%;
  }   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}





/* --------------------------------
button
--------------------------------*/

.btn-cust {
  flex: 1 1 auto;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.85s;
  font-size: var(--p);
  font-family: var(--font-family-header);
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: var(--font-weights-bold);
  background-size: 200% auto;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  border: 0;
  border-radius: 6px;
 }

.btn-cust-color {
  background-image: var(--linear-gradient);
}
.btn-cust-color:hover,
.btn-cust-color:after {
  background-position: right center;
}

.btn-cust-2 {
  background-color: #00000069;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--p);
  color: var(--text-color);
  font-family: var(--font-family-header);
  letter-spacing: 2px;
  font-weight: var(--font-weights-norm);
  background-size: 200% auto;
  border:2px solid #00000069;
  min-width: 60%;
  border-radius: 6px;
}

.btn-cust-2:hover,
.btn-cust-2:after {
  background-color: #000000be;
  border: 2px solid var(--mc-4);
}


a {
  color: rgba(245, 245, 245, 0);
}
a:hover,a::after {
  color: rgba(245, 245, 245, 0.836)
}

.down-arrow {
	animation: down-arrow-animation 3s ease-in-out infinite;
}

@keyframes down-arrow-animation {
  0% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateY(-25%);
  }

  50% {
    /* transform: translateX(100%) rotate(-90deg); */
    transform: translateY(50%);
  }

  100% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateY(-25%);
  }
}


.cookie-box {
  padding: 15px 20px;
  width: 15%;
  margin: auto;
}

.cookie-sub-box {
  width: 85%;
  margin: auto;
}

#cookies{
  position: fixed;
  bottom: 0;
  color: var(--bg-1);
  background-color: var(--mc-7);
  z-index: 1;
  padding: 15px 15px;
  border-radius: 6px;
}

.cookies {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cookies a{
  color: var(--sc-2);
}


@media (max-width:1024px) and (orientation: portrait) { 

  .cookie-box {
    padding: 5px 10px;
    width: 100%;
  }
  .cookie-sub-box {
    width: 100%;

  }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}

@media (max-width:1024px) and (orientation: landscape) { 
  .cookie-box {

    width: 100%;
  }
  .cookie-sub-box {
    width: 100%;

  }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

.btn-cookie {
  background-color: #00000069;
  margin: 10px;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--p);
  color: var(--text-color);
  font-family: var(--font-family-header);
  letter-spacing: 2px;
  font-weight: var(--font-weights-norm);
  background-size: 200% auto;
  border: 2px solid #00000069;
  border-radius: 6px;
 }

.btn-cookie:hover,
.btn-cookie:after {
  background-color: #000000be;
  border: 2px solid var(--mc-4);
}
